<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
            {% if user.is_authenticated %}
                <li>
                    <a href="{% url "show_my_tasks" %}">My tasks</a>
                </li>
                <li>
                    <a href="{% url "list_projects" %}">My projects</a>
                </li>
                <li>
                    <a href="{% url "logout" %}">Logout</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url "login" %}">Login</a>
                </li>
                <li>
                    <a href="{% url "signup" %}">Signup</a>
                </li>
            {% endif %}
            </ul>
        </nav>
    </header>
<main>
    <div>
        <h1>My Tasks</h1>
        <p>
            <a href="{% url "create_project" %}">Create a new project</a>
        </p>
        {% if tasks %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Start date</th>
                    <th>End date</th>
                    <th>Is completed</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>{{ task.name }}</td>
                        <td>{{ task.start_date }}</td>
                        <td>{{ task.end_date }}</td>
                        <td>{{ task.is_completed }}</td>
                {% endfor %}
                    </tr>
                {% else %}
                    <p>You have no tasks</p>
                {% endif %} 
            </tbody>
        </table>
    </div>
</main>
</body>
</html>